In [26]:
import datacommons_pandas as dc
import pandas as pd

In [27]:
trial = pd.DataFrame({'state': ['geoId/51']})
print(trial)

      state
0  geoId/51

In [28]:
trial['state_name'] = dc.get_property_values(trial['state'], 'name')

# Display the frame
print(trial)

      state state_name
0  geoId/51   geoId/51

In [29]:
data['county'] = dc.get_places_in(data['state'], 'County')

# Display the frame
print(data)

      state state_name    county
0  geoId/51   geoId/51  geoId/51

In [15]:
data = dc.flatten_frame(data)

# Display the frame
print(data)

AttributeError: module 'datacommons_pandas' has no attribute 'flatten_frame'

In [31]:
virg = 'geoId/51'

In [32]:
counties = dc.get_places_in([virg], 'County')[virg]

In [33]:
counties[:10]

['geoId/51001',
 'geoId/51003',
 'geoId/51005',
 'geoId/51007',
 'geoId/51009',
 'geoId/51011',
 'geoId/51013',
 'geoId/51015',
 'geoId/51017',
 'geoId/51019']

In [34]:
df_county = dc.build_multivariate_dataframe(counties, ['Count_Person', 'Count_HousingUnit_OwnerOccupied','Count_HousingUnit_RenterOccupied'])

In [35]:
df_county.head()

,Count_Person,Count_HousingUnit_OwnerOccupied,Count_HousingUnit_RenterOccupied
place,,,
geoId/51001,33413,8861,4780
geoId/51003,112395,27625,14756
geoId/51005,15223,5170,1359
geoId/51007,13265,4184,850
geoId/51009,31307,9408,2753

In [38]:
def add_name_col(df):
  # Add a new column called name, where each value is the name for the place dcid in the index.
  df['name'] = df.index.map(dc.get_property_values(df.index, 'name'))
  
  # Keep just the first name, instead of a list of all names.
  df['name'] = df['name'].str[0]

In [39]:
add_name_col(df_county)
df_county.head()

,Count_Person,Count_HousingUnit_OwnerOccupied,Count_HousingUnit_RenterOccupied,name
place,,,,
geoId/51001,33413,8861,4780,Accomack County
geoId/51003,112395,27625,14756,Albemarle County
geoId/51005,15223,5170,1359,Alleghany County
geoId/51007,13265,4184,850,Amelia County
geoId/51009,31307,9408,2753,Amherst County

In [55]:
df_time = dc.build_time_series_dataframe(counties, 'Count_Person')

In [60]:
add_name_col(df_time)
df_time.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,name
place,,,,,,,,,,,
geoId/51001,33701,33454,33289,33165,33115,33060,32840,32742,32673,32560,Accomack County
geoId/51003,97978,99484,100636,101883,103108,104287,105105,106355,107405,108819,Albemarle County
geoId/51005,16326,16297,16240,16133,16066,15919,15489,15286,15157,15030,Alleghany County
geoId/51007,12631,12674,12712,12764,12777,12793,12802,12854,12953,12970,Amelia County
geoId/51009,32339,32301,32244,32237,32148,31999,31819,31882,31775,31782,Amherst County

In [58]:
df_owner = dc.build_time_series_dataframe(counties, 'Count_HousingUnit_OwnerOccupied')

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
place,,,,,,,,,,
geoId/51001,10199,10070,9960,10053,9919,9605,9466,9093,8977,8861
geoId/51003,24731,24648,25078,25135,25281,25584,25459,25391,26265,27625
geoId/51005,5629,5617,5413,5337,5337,5396,5225,5237,5032,5170
geoId/51007,4049,3867,3843,3886,3824,3845,3928,4036,4181,4184
geoId/51009,9634,9614,9402,9373,9534,9434,9313,9349,9378,9408

In [61]:
add_name_col(df_owner)
df_owner.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,name
place,,,,,,,,,,,
geoId/51001,10199,10070,9960,10053,9919,9605,9466,9093,8977,8861,Accomack County
geoId/51003,24731,24648,25078,25135,25281,25584,25459,25391,26265,27625,Albemarle County
geoId/51005,5629,5617,5413,5337,5337,5396,5225,5237,5032,5170,Alleghany County
geoId/51007,4049,3867,3843,3886,3824,3845,3928,4036,4181,4184,Amelia County
geoId/51009,9634,9614,9402,9373,9534,9434,9313,9349,9378,9408,Amherst County

In [59]:
df_renter = dc.build_time_series_dataframe(counties, 'Count_HousingUnit_RenterOccupied')
df_renter.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
place,,,,,,,,,,
geoId/51001,3558,4216,4373,4236,4042,4214,4062,4308,4461,4780
geoId/51003,12667,12901,12886,13402,13572,13847,14556,15221,15231,14756
geoId/51005,1306,1234,1360,1377,1444,1449,1641,1504,1568,1359
geoId/51007,952,910,965,875,880,695,771,753,773,850
geoId/51009,3059,3069,3278,3204,2968,2872,2797,2695,2782,2753

In [62]:
add_name_col(df_renter)
df_renter.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,name
place,,,,,,,,,,,
geoId/51001,3558,4216,4373,4236,4042,4214,4062,4308,4461,4780,Accomack County
geoId/51003,12667,12901,12886,13402,13572,13847,14556,15221,15231,14756,Albemarle County
geoId/51005,1306,1234,1360,1377,1444,1449,1641,1504,1568,1359,Alleghany County
geoId/51007,952,910,965,875,880,695,771,753,773,850,Amelia County
geoId/51009,3059,3069,3278,3204,2968,2872,2797,2695,2782,2753,Amherst County

In [63]:
df_time.to_csv('population.csv')

In [64]:
df_owner.to_csv('owner_occupied.csv')

In [65]:
df_renter.to_csv('renter_occupied.csv')